<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="">
    <div class="border-bottom border-primary">
        <div class="text-center">
    <h1>
        {% block h1 %}

        {% endblock %}
    </h1>
        </div>
    </div>
</div>
<div>
    <div>
        <div class="no">
            <a href=" {{ url_for('page') }} ">
            <button class="navbar-toggle collapsed" type="button" aria-expanded="false" data-toggle="collapsed">
                butt
            </button
            </a>
            <a href=" {{ url_for('stuff.index') }} ">
            <button class="navbar-toggle collapsed" type="button" aria-expanded="false" data-toggle="collapsed">
                back
            </button
            </a>
        </div>
    </div>
</div>
</body>
</html>